NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_APP_NAME=JurisAI
NEXT_PUBLIC_ENVIRONMENT=development
NEXT_PUBLIC_RENDER_API_URL=https://jurisai-web-wh9d.onrender.com
NEXT_PUBLIC_ENABLE_MOCKS=false
NEXT_PUBLIC_ENABLE_BILLING_UI=false
NEXT_PUBLIC_ENABLE_AI_UI=true
