Django==4.2.30
psycopg2-binary==2.9.12
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-filter==25.1
django-cors-headers==4.9.0
celery==5.6.3
flower==2.0.1
django-celery-beat==2.9.0
redis==7.4.0
python-dotenv==1.2.2
openai==2.32.0
drf-yasg==1.21.15
gunicorn==25.3.0
pytest==9.0.3
pytest-django==4.12.0
pillow==12.2.0
pytesseract==0.3.13
pdf2image==1.17.0
pypdf==6.10.2
python-docx==1.2.0
